body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
   
}
.free{
    float: right
    width: 100px;
    height: 30px;
    background: #35424a;
    font-size: 18px;
    text-transform: uppercase;
     color: #ffffff;
    -webkit-transtion: width 0.1s;    
}
.free:hover{
    width: 100%;
}

/* global */
.container {
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.dark {
  padding: 15px;
  background-color: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* header */
header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 80px;
  border-bottom: #e8491d 3px solid;
}

header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
.highlight{
    color: #e8491d;
}
/*drop down*/
.dropbtn{
background-color: #35424a;
    width: 1000px
    padding: 4px 10px 4px 10px;
    border:none;
    cursor: progress;
    margin-top: 30px;
    margin-right: 10px;
   
}
.dropdown{
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown-content{
    display: none;
    position: absolute;
   background-color: #f4f4f4;
    min-width: 100%;
overflow: auto;
    box-shadow: 0px 0px 0.4px 0px rgba(0,0, 2,0);
     
}
.dropdown-content a{
    display: block;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 16px 16px;
    cursor: pointer;
    padding-right: 30px;
    font-weight: 600;
    
    font-size: 15px;
}

.dropdown-content a:hover{
    background-color: #35424a;
    cursor: progress;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #ffffff;
}

/* showcase */
#showcase {
  min-height: 400px;
  background-image: url(image/N.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#showcase h1 {
  margin-top: 90px;
  font-size: 45px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 18px;
}
/* newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background-color: #35424a;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}
#newsletter input {
  padding: 5px;
  height: 25px;
  width: 250px;
}
.button_1 {
  height: 38px;
  background-color: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #f4f4f4;
}
/* boxes */
#boxes {
  padding-top: 25px;
}
#boxes .boxes {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}
/* sidebar */
#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
#aside#sidebar .quote input aside #sidebar .quota textarea {
  width: 90%;
  padding: 5px;
}
/* articles */
article {
  width: 65%;
  float: left;
}
article h1 {
  font-size: 20px;
}
/* services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
